<p>
  {{ title }} works!
</p>

<div *ngIf="isAdmin; else userTemplate">
  <p>is admin user</p>
</div>

<ng-template #userTemplate>
  <p>is normal user</p>
</ng-template>

<app-calc [title]="calcTitle" (dispatchEvent)="handleEvent($event)"></app-calc>

<ion-button (click)="toggleAdmin()">Toggle Admin</ion-button>

<p> {{ amount | currency: 'USD' }} 

</p>

<p>
  {{ todayIs | date: 'short' }}
</p>

<p>
  Amount with taxes: {{ amount | tax:8 | currency: 'USD' }}
</p>

<h1>My first attribute directive</h1>

<h2>Pick a highlight color</h2>

<div>
  <input type="radio" name="colors" (click)="color = 'lightgreen'">Green
  <input type="radio" name="colors" (click)="color = 'yellow'">Yellow
  <input type="radio" name="colors" (click)="color = 'cyan'">Cyan
</div>

<p [appHighlight]="color">
  Highlight me!
</p>

<a [routerLink]="['']">Go Back</a>

<ion-button (click)="loginOut()">Log Out</ion-button>

<ion-alert
  [isOpen]="isAlertOpen"
  header="Alerta"
  subHeader="hola"
  [message]="alertMessage"
  [buttons]="alertButtons"
  (didDismiss)="handleEvent('')"
></ion-alert>